@import '~@/common/style/variables.less';

.login-wrapper {
  .main-content-wrapper();

  .login-main {
    .center(5rem, 3rem);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .disable-autocomplate {
    position: absolute;
    top: -9999px;
  }

  .login-btn-wrapper {
    height: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      background-color: @black;
      color: @login-input-text-color;
      border: .01rem solid @login-btn-border;
      display: block;
      width: 40%;
      height: .6rem;
      font-size: .2rem;
      font-weight: bold;

      &:focus {
        outline: @login-btn-border;
      }

      &:hover {
        background-color: @login-btn-hover;
      }

      &:active {
        background-color: @login-btn-click;
      }
    }
  }
}
